@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
    <h2 class="display-4">Esta es mi Aplicacion para la  gestion de canchas de Futbol</h2>
    <h2 class="display-4 marginBotTop25px">¿Que desea hacer?</h2>

    <button type="button" class="btn btn-primary">Reservar Cancha</button>
    <button type="button" class="btn btn-primary marginBotTop25px"><a class="link" asp-action="Create" asp-controller="Clientes">Agregar Nuevo Cliente</a></button>

</div>
