@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">FootballField</h1>
    <h2 class="display-4 marginBotTop25px">¿Que desea hacer?</h2>

    <button type="button" class="btn btn-green"><a class="link" asp-action="Create" asp-controller="Canchas">Reservar Cancha</a></button>
    <button type="button" class="btn btn-green marginBotTop25px"><a class="link" asp-action="Create" asp-controller="Clientes">Agregar Nuevo Cliente</a></button>

</div>
